

.grid-galeria{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 250px;
    gap: 10px;
    
}



.grid-galeria div img {

    width: 100%;
    height: 100%;
    border-color: gold;
}

.img-1 {
    grid-column: span 3;
}

.img-5 {
    grid-column: span 3;
}