

header{
    color: white;
    background-color: rgb(2, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    nav{
        ul{
            list-style: none;
        }
        a{
            font-size: 15px;
            text-decoration: none;
            color: $color-secundario;
            padding: 5px 6px;
            &:hover {
            font-size: 18px;
            background-color: $color-secundario;
            color: $color-principal;
            border-radius: 4px;
            transition: 0.3s;
        }
    }
}

    h1{
        margin: relative;
        padding: 40px;
        font-size: 60px;
        font-weight: 500;
        color: azure;
        &::first-letter {
            background-color: $color-secundario;
            color: $color-principal;
            text-decoration: solid;
            font-size: 60px;
        }
        }
}

p {
    background-color: rgba(26, 25, 25, 0.918);
    font-weight: 200;
}

.hero {
    height: relative;
    background-image: url(../img/backgraund-box.jpg);
    background-position: center;
    background-attachment: fixed;

    h2{
        font-size: 30px;
        color: $color-secundario;
        text-align: center;
        font-weight: 300;
    }
    p{
        color: white;
        text-align: center;
        text-size-adjust: 50px;
        padding: 20px 20px;
    }
}

.destacados{
    padding: 50px;
    display: flex;
    justify-content: space-around;
    div{
        border: solid 2px $color-secundario;
        width: 250px;
        height: 350px;
        margin: 0px 20px;
        text-align: center;
        padding: 15px;
        margin: 0px 10px 10px 0px;
        border-radius: 10px;
    }
    img{
        width: 100%;
        height: 250px;
    }
    h3{
        color: $color-secundario;
        font-size: 20px;
        padding: 5px;
    }
    a{
        text-decoration: none;
        background-color: $color-secundario;
        color: $color-principal;
        font-weight: 600;
        border-radius: 10px;
        padding: 10px;
    }
}




.marca{
    padding: 30px;
    flex-direction: column-reverse;
    align-items: center;
    display: flex;
    color: $color-secundario;
    background-color: $color-principal;
    font-size: 13px;
    padding: 20px;
}

footer{
    background-color: $color-secundario;
    img{
        width: 50px;
        height: 50px;
    }
}

